---
---
@charset "utf-8";

$font-family: 'Graphik', 'Arial', 'Roboto', sans-serif;
$font-size: 13px;
$font-size-mid: 19px;
$font-size-huge: 26px;
$font-size-massive: 38px;
$font-weight: 400;
$line-height: 1.5;

// Padding
$spacing-unit: 28px;
$spacing-unit-large: 42px;

$max-width: 1440px;

// Colors
$text-color: #43474f;
$text-color-light: #fff;

$soft-color: #e9edf2;
$soft-color-2: #c0c6cc;

$highlight-color: #ffcc33;

$transition-speed: .1s;

// Breakpoints
$large: 780px;

// Layers
$top: 4;
$front: 3;
$mid: 2;
$back: 1;
$bottom: 0;

//Clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

@import "color", "images", "layout", "type";