---
---
@charset "utf-8";

$font-family: 'Graphik', 'Arial', 'Roboto', sans-serif;
$font-size: 14px;
$font-size-mid: 21px;
$font-size-huge: 21px;
$font-size-massive: 70px;
$font-weight: 400;
$line-height: 1.5;

// Padding
$spacing-unit: 28px;
$spacing-unit-large: 42px;

$max-width: 1440px;

// Colors
$text-color: #555;
$text-color-light: #fff;

$soft-color: #eee;
$soft-color-2: #ccc;

$highlight-color: #ffcc33;

$transition-speed: .1s;

// Breakpoints
$large: 780px;

// Layers
$top: 4;
$front: 3;
$mid: 2;
$back: 1;
$bottom: 0;

@import "color", "images", "layout", "type";