---
---
@charset "utf-8";

/* Layout */

$spacing-unit: 15px;
$spacer: 75px;

$max-width: 1500px;

$large: 780px;

/* Type */

$font-size: 15px;
$font-size-larger: 20px;
$font-weight: 400;
$line-height: 1.4;
$letter-spacing: 0.3px;

/* Colour */

$text-color: #43474f;
$not-white: #fefefe;
$soft-color: #f9f9f9;
$hover-color: #FCEBEA;

/* Effects */

$transition-duration: 300ms;

/* Layers */

$front: 1;
$back: -1;


@import "a_title", "b_image", "c_description", "d_images", "general", "header", "tags", "index", "footer";
