*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Graphik', 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

/* Nav */

.nav_button {
    padding: 48px;
    cursor: pointer;
    z-index: 2;
}

@media screen and (min-width: 720px) {
    .nav_button {
        padding: 32px;
    }
}

.left {
    position: fixed;
    top: 0;
    left: 0;
}

.right {
    position: fixed;
    top: 0;
    right: 0;
}


/* Toggle */

.toggle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 256px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #eee;
    z-index: 1;
}

@media screen and (min-width: 720px) {
    .toggle {
        width: 50%;
        padding-top: 128px;
        padding-left: 32px;
        padding-right: 0;
    }
}

.toggle_esc {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

@media screen and (min-width: 720px) {
    .toggle_esc {
        display: block;
    }
}

.tag_list {
    width: 49%;
    display: inline-block;
    font-size: 1.6em;
    line-height: 1.5;
}

.tag_button:hover {
    border-bottom: solid 1px BLACK;
}

.toggle footer {
    padding-left: 0;
}

/* Footer */

footer {
    height: 115px;
    position: absolute;
    bottom: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
}

@media screen and (min-width: 720px) {
    footer {
        height: 83px;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 32px;
    }
}

.footer_list li {
    padding-right: 2em;
    display: inline-block;
}

.content {
    padding-bottom: 115px;
}

@media screen and (min-width: 720px) {
    .content {
        padding-bottom: 83px;
    }
}

/* Tests */

.block {
    margin-top: 128px;
    margin-bottom: 48px;
    margin-left: 12.5%;
    width: 50%;
    height: 1000px;
    background-color: cyan;
}