---
layout: default
---
{% include header.html %}
<element>
<section class="served">
    <ul>
    {% for post in site.posts %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="index_image"><img src="{{ post.image | prepend: site.baseurl }}">
                    <div class="index_text">
                        <span class="title">{{ post.title }}</span>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
</section>
</element>