<footer class="site-footer">

    <div class="site-wrapper">
        <nav class="footer-nav">
            <div class="copyright left">© 2016 eyesi</div>
            <ul class="nav right">
                <li><a href="#" class="nav_button">About</a></li>
                <li><a href="#" class="nav_button">Contact</a></li>
                <li><a href="#" class="nav_button">Shipping info</a></li>
                <li><a href="#" class="nav_button">Help</a></li>
            </ul>
        </nav>
		</div>

</footer>