<header>
    <nav>
        <ul class="top_nav">
            <li class="left shop_hide"><a class="check">Shop</a></li>
            <li class="right"><a class="check bag">Bag</a></li>
        </ul>
        <div class="toggle">
            <div class="shop"><a class="">Shop</a></div>
                <ul class="toggle_list">
                    <li><a href="/">All</a></li>
                    <li><a href="/linen">Linen</a></li>
                    <li><a href="#">Bags <i class="twa twa-handbag"></i></a></li>
                    <li><a href="/surfaces">Surfaces</a></li>
                    <li><a href="#">Tables</a></li>
                    <li><a href="#">Ceramic</a></li>
                    <li><a href="#">Leather</a></li>
                    <li><a href="/textile">Textile</a></li>
                    <li><a href="/timber">Timber <i class="twa twa-evergreen-tree"></i></a></li>
                </ul>
            <footer>
                <ul>
                    <li><a href="#">Studio</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </footer>
        </div>
        <span class="toggle_background"></span>
        <div class="toggle_esc"></div>
    </nav>
</header>