<header>
    <nav>
        <div class="left nav_button" id="shop">Shop</div>
        <div class="right nav_button">Bag</div>
    </nav>
    <div class="toggle" style="display: none;">
        <ul class="tag_list">
            <li><a href="#">All</a></li>
            <li><a href="#">Linen</a></li>
            <li><a href="#">Surfaces</a></li>
            <li><a href="#">Tables</a></li>
        </ul>
        <ul class="tag_list">
            <li><a href="#">Leather</a></li>
            <li><a href="#">Textile</a></li>
            <li><a href="#">Timber</a></li>
        </ul>
        <footer>
            <ul class="footer_list">
                <li><a href="#">Studio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </footer>
        <div class="toggle_esc"></div>
    </div>
</header>