<header>
    <nav>
        <a class="left toggle_open">Shop</a>
        <a class="right">Bag</a>
    </nav>
    <div class="toggle">
        <ul class="toggle_list">
            <li><a href="#">All</a></li>
            <li><a href="#">Linen</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Surfaces</a></li>
            <li><a href="#">Tables</a></li>
            <br>
            <li><a href="#">Ceramic</a></li>
            <li><a href="#">Leather</a></li>
            <li><a href="#">Textile</a></li>
            <li><a href="#">Timber</a></li>
        </ul>
        <footer>
            <ul>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </footer>
        <div class="toggle_esc"></div>
    </div>
    <div class="toggle_background"></div>
</header>