.tags {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $spacing-unit * 2;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
    z-index: $back;
    display: none;
}

@media screen and (min-width: $large) {
    .tags {
        width: 25%;
        margin-left: 50%;
        float: left;
        display: block;
    }
}

.post_title {
    display: block;
    position: absolute;
    top: 47.5vh;
    left: 0;
    transform: translate(0, -50%);
    padding: $spacing-unit * 2;
    z-index: $front;
}

.post_title .title {
    font-size: 30px;
    line-height: 1.35em;
}

.add_button {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: $spacing-unit;
    padding-bottom: $spacing-unit;
    z-index: $front;
}

.add_button a {
    display: block;
    padding: 0 15px;
    line-height: 2.8em;
    height: 2.7em;
    border-radius: 2.8em;
    font-size: $font-size;
    background: #FCEBEA;
    color: $text-color;
}
