.post_description {
    padding-top: $spacing-unit * 4;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 4;
}

@media screen and (min-width: $large) {
    .post_description {
        margin-left: 50%;
        width: 50%;
        float: left;
    }
}

.post_description p {
    font-size: 20px;
}
