.product_description {
    padding-top: $spacing-unit * 4;
    padding-bottom: $spacing-unit * 4;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
}

@media screen and (min-width: $large) {
    .product_description {
        margin-left: 50%;
        width: 50%;
        float: left;
    }
}

.product_description .description {
    font-size: 30px;
    line-height: 1.35em;
    padding-bottom: $spacing-unit * 2;
}
