a, p, h1 {
    color: $text-color;
}

.toggle_list a, .add_button a {
    background: $soft-color-2;
    color: $text-color-light;
}

.toggle_list a:hover, .add_button a:hover {
    background: $highlight-color;
}

.toggle_background {
    background-color: $soft-color;
    opacity: 0.9;
}