.post_image {
    padding-bottom: 5px;
}

.post_image:last-child {
    display: inline-block;
    float: left;
    padding-bottom: 0;
}

@media screen and (min-width: $large) {
    .post_image {
        padding: 0;
    }
}

@media screen and (min-width: $large) {
    .frame {
        padding: 60px;
        margin: 60px 0;
    }
    .half {
        width: 50%;
    }

    .quarter {
        width: 25%;
    }
}
