.product_images {
    display: block;
    position: relative;
    width: 100%;
}

.product_images img {
    max-width: 100%;
    padding: $spacing-unit * 2;
    display: inline-block;
    float: left;
}

@media screen and (min-width: $large) {
    .half {
        width: 50%;
    }

    .quarter {
        width: 25%;
    }
}
