.post_description {
    padding-top: $spacing-unit * 3;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    padding-bottom: $spacing-unit * 3;
}

@media screen and (min-width: $large) {
    .post_description {
        width: 25%;
        margin-left: 25%;
    }
}

.post_description p {
    font-size: 18px;
}