/* General */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-font-smoothing: antialiased;
}

img {
    vertical-align: middle;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    background: $soft-color;
    margin-bottom: $spacer;
}

/* Type */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a, p {
    font-family: 'Neuzeit S Book', 'Graphik', 'Arial', sans-serif;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    font-size: $font-size;
    color: $text-color;
}

/* Colour */

body {
    background: $soft-color;
}
