/* General */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}

.content {
    position: absolute;
    background: $soft-color;
    margin-top: $spacer;
    margin-bottom: $spacer;
}

/* Type */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    margin: 0;
}

a, p, h1 {
    font-family: 'Graphik', 'Arial', 'Roboto', sans-serif;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

a, p {
    font-size: $font-size;
    color: $text-color;
}

/* Colour */

body {
    background: $soft-color;
}
