header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: $spacing-unit * 2;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
    z-index: $back;
}

header span {
    font-size: $font-size;
}

.shop_button {
    float: left;
}

.bag_button {
    float: right;
}

header a {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
}
