img {
    display: block;
    width: 100%;
    height: auto;
}

.inline {
    display: inline-block;
}

.top_image {
    padding: 4.5%;
}

.half {
    width: 40%;
    padding: 5%;
    vertical-align: middle;
}

.more {
    width: 50%;
    padding-bottom: 5%;
}