img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: $large) {
    .index_image img {
        max-width: 500px;
        max-height: 500px;
    }
    .index_image {
        position: relative;
        float: left;
        padding-right: $small-gap;
        padding-bottom: $small-gap;
    }
}

.top_image {
    margin-top: -92px;
}

.post_image {
    display: inline-block;
    float: left;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
    padding-bottom: $small-gap;
}

.post_image:last-child {
    padding-bottom: 0;
}

@media screen and (min-width: $large) {
    .post_image {
        padding: 0;
    }
}

@media screen and (min-width: $large) {
    .half {
        width: 40%;
        padding: 5%;
        vertical-align: top;
    }

    .more {
        width: 50%;
        padding-bottom: 5%;
    }
}