.index li {
    position: relative;
    float: left;
}

@media screen and (min-width: $large) {
    .index li {
        width: 50%;
    }
}

/* Type */

.hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.hover:hover {
    opacity: 1;
}

.index .title {
    position: absolute;
    bottom: $spacing-unit * 1.5;
    left: $spacing-unit * 2;
    font-size: $font-size-larger;
}

.hover:hover .title {
    position: absolute;
    bottom: $spacing-unit * 2;
}

.index .price {
    position: absolute;
    bottom: $spacing-unit * 1.5;
    right: $spacing-unit * 2;
    font-size: $font-size-larger;
}

.hover:hover .price {
    position: absolute;
    bottom: $spacing-unit * 2;
}

.index .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(252,235,234,0.9);
    background: -moz-linear-gradient(top, rgba(252,235,234,0.7), rgba(252,235,234,0.9));
    background: -webkit-linear-gradient(top, rgba(252,235,234,0.7), rgba(252,235,234,0.9));
    background: linear-gradient(to top, rgba(252,235,234,0.7), rgba(252,235,234,0.9));
}

/* Effects */

.hover, .title, .price {
    transition-property: all;
    transition-duration: $transition-duration;
    transition-timing-function: ease;
    transition-delay: initial;
    z-index: $front;
}
