/* General */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}

.block {
    position: relative;
    float: left;
}

.top {
    padding-top: $spacing-unit * 3;
}

@media screen and (min-width: $large) {
    .top {
        padding-top: $spacing-unit-large * 3;
    }
}

/* Nav */

.top_nav {
    z-index: $mid;
}

.top_nav, .toggle, .toggle_background {
    position: fixed;
    width: 100%;
    max-width: $max-width;
    overflow: scroll;
}

.left, .right {
    padding: $spacing-unit;
}

@media screen and (min-width: $large) {
    .left, .right {
        padding: $spacing-unit-large;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Toggle */

.shop {
    padding-bottom: $spacing-unit * 2;
}

@media screen and (min-width: $large) {
    .shop {
        padding-bottom: $spacing-unit-large * 2;
    }
}

.toggle {
    display: none;
    height: 100%;
    padding-top: $spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    padding-bottom: 57px + ($spacing-unit * 2) - 19px;
    z-index: $front;
}

@media screen and (min-width: $large) {
    .toggle {
        width: 50%;
        border-right: solid $small-gap #fff;
        padding-top: $spacing-unit-large;
        padding-left: $spacing-unit-large;
        padding-right: $spacing-unit-large;
        padding-bottom: 57px + ($spacing-unit-large * 2) - 19px;
    }
}

.toggle_background {
    display: none;
    height: 100%;
    z-index: $mid;
}

@media screen and (min-width: $large) {
    .toggle_background {
        width: 50%;
    }
}

.toggle footer {
    position: fixed;
    bottom: 0;
    padding-left: 0;
}

@media screen and (max-height: 480px) {
    .toggle footer {
        display: none;
    }
    .toggle {
        padding-bottom: $spacing-unit - 19px;
    }
}

@media screen and (min-width: $large) {
    .toggle_esc {
        display: none;
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: $mid;
    }
}

/* Text */

.post_info {
    padding-top: $spacing-unit * 2 - $small-gap;
    padding-bottom: $spacing-unit * 2;
}


@media screen and (min-width: $large) {
    .post_info {
        position: absolute;
        top: 0;
        z-index: $back;
        padding-top: $spacing-unit-large * 3;
        padding-bottom: $spacing-unit-large;
    }
}

.text, .tag_list {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

@media screen and (min-width: $large) {
    .text, .tag_list {
        padding-left: $spacing-unit-large;
        padding-right: $spacing-unit-large;
    }
}

.title {
    padding-bottom: $spacing-unit;
}

@media screen and (min-width: $large) {
    .title {
        padding-bottom: $spacing-unit-large;
    }
}

/* Footer */

footer {
    padding: $spacing-unit;
    clear: both;
}

@media screen and (min-width: $large) {
    footer {
        padding: $spacing-unit-large;
    }
}

.footer_replace {
    display: none;
    height: 57px + ($spacing-unit * 2);
    clear: both;
}

@media screen and (min-width: $large) {
    .footer_replace {
        height: 57px + ($spacing-unit-large * 2);
    }
}