.served li {
    position: relative;
    float: left;
}

@media screen and (min-width: $large) {
    .served li {
        width: 50%;
    }
}

/* Type */

.index_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: $spacing-unit * 1.5;
    z-index: $front;
}

.title {
    font-size: 18px;
}