.tags {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $spacing-unit * 2;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
    z-index: $back;
    display: none;
}

@media screen and (min-width: $large) {
    .tags {
        width: 25%;
        margin-left: 25%;
        float: left;
        display: block;
    }
}

/* Type */

.tags li {
    display: inline-block;
    float: left;
    padding-right: $spacing-unit;
    font-size: $font-size;
}

.tags a {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
}
