.post_title {
    padding-top: $spacing-unit * 4;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 4;
    font-size: 20px;
}

@media screen and (min-width: $large) {
    .post_title {
        width: 33.33%;
        margin-left: 33.33%;
        float: left;
    }
}

.top {
    position: relative;
}

.top_image {
    width: 87.5%
}

.top_image img {
    margin-top: -25%;
    vertical-align: bottom;
}

.add_button {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
}

.add_button a {
    display: block;
    padding: 0 1.4em;
    line-height: 2.9em;
    height: 2.8em;
    border-radius: 2.8em;
    font-size: $font-size;
    background: #FCEBEA;
    color: $text-color;
}