a {
    text-decoration: none;
    cursor: pointer;
}

a, p {
    font-family: 'Graphik', 'Arial', 'Roboto', sans-serif;
    font-weight: $font-weight;
    line-height: $line-height;
}

header, footer {
    font-size: $font-size;
}

p, .add_button {
    font-size: $font-size-mid;
}

.toggle_list {
    font-size: $font-size-huge;
}

.tag_title, .post_title {
    font-size: $font-size-massive;
}

.price, .add_button {
    display: inline-block;
    margin: 0 0.5em 0 0;
}

.toggle_list li {
    display: inline-block;
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.toggle_list a, .add_button a {
    display: block;
    padding: 0 0.666em;
    line-height: 2em;
    height: 2em;
    border-radius: 1.675em;
    -o-transition: $transition-speed;
    -ms-transition: $transition-speed;
    -moz-transition: $transition-speed;
    -webkit-transition: $transition-speed;
    transition: $transition-speed;
}

.toggle_list a {
    line-height: 2.135em;
}