a {
    text-decoration: none;
    cursor: pointer;
}

a, p, h1 {
    font-family: 'Graphik', 'Arial', 'Roboto', sans-serif;
    font-weight: $font-weight;
    line-height: $line-height;
}

nav, footer {
    font-size: $font-size;
}

.toggle_list, h1 {
    font-size: $font-size-huge;
}

p {
    font-size: $font-size-mid;
}