a {
    text-decoration: none;
    cursor: pointer;
}

a, p {
    font-family: 'Graphik', 'Arial', 'Roboto', sans-serif;
    font-weight: $font-weight;
    line-height: $line-height;
}

header, footer {
    font-size: $font-size;
}

p, .add_button {
    font-size: $font-size-mid;
}

.toggle_list {
    font-size: $font-size-huge;
}

.tag_title, .post_title {
    font-size: $font-size-massive;
}

.add_button {
    display: inline-block;
}

.toggle_list li {
    display: inline-block;
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.toggle_list a, .add_button a {
    display: block;
    padding: 0 0.8em;
    line-height: 2.135em;
    height: 2em;
    border-radius: 2em;
    -o-transition: $transition-speed;
    -ms-transition: $transition-speed;
    -moz-transition: $transition-speed;
    -webkit-transition: $transition-speed;
    transition: $transition-speed;
}

.index_title {
    font-size: $font-size-mid;
    padding-top: $spacing-unit / 1.5;
    padding-bottom: $spacing-unit * 1.5;
}

@media screen and (min-width: $large) {
    .index_title {
        font-size: $font-size-mid;
        opacity: 0;
        transition: opacity $transition-speed ease-in-out;
        -moz-transition: opacity $transition-speed ease-in-out;
        -webkit-transition: opacity $transition-speed ease-in-out;
    }
    .index_title:hover {
        opacity: 1;
    }
}