<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="container">
        {% include header.html %}
        <div class="content">{{ content }}</div>
        {% include footer.html %}
    </div>
    <script type="text/javascript" src="/js/adaptive"></script>
    <script>
        $(document).ready(function(){
            $.adaptiveBackground.run();
        });
    </script>
    <script src="https://trychec.com/v2/embed.js"></script>
    <script>
        $(window).scroll(function() {
            $(".add_button").css("bottom", Math.max(0, 75 - ($(document).height() - $(window).scrollTop() - $(window).height())));
        });
    </script>
</body>
</html>
