---
layout: default
---
<section class="filter">
    <ul>
        {% for post in site.categories[page.category] %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">
                <figure>
                    <img src="{{ post.image | prepend: site.baseurl }}" data-adaptive-background>
                    <figcaption>
                        <p>{{ post.title }} {{ post.type }} — {{ post.price }}</p>
                    </figcaption>
                </figure>
            </a>
        </li>
        {% endfor %}
        {% for post in site.tags[page.tag] %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">
                <figure>
                    <img src="{{ post.image | prepend: site.baseurl }}" data-adaptive-background>
                    <figcaption>
                        <p>{{ post.title }} {{ post.type }} — {{ post.price }}</p>
                    </figcaption>
                </figure>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
