---
layout: default
head: snipcart.html
---
<section class="filter">
    <ul>
        {% for product in site.categories[page.category] %}
        <li>
            <a href="{{ product.url | prepend: site.baseurl }}">
                <figure>
                    <img src="{{ product.image | prepend: site.baseurl }}" data-adaptive-background>
                    <figcaption>
                        <p>{{ product.title }} {{ product.type }}<br>{{ product.price }}</p>
                    </figcaption>
                </figure>
            </a>
        </li>
        {% endfor %}
        {% for product in site.tags[page.tag] %}
        <li>
            <a href="{{ product.url | prepend: site.baseurl }}">
                <figure>
                    <img src="{{ product.image | prepend: site.baseurl }}" data-adaptive-background>
                    <figcaption>
                        <p>{{ product.title }} {{ product.type }}<br>{{ product.price }}</p>
                    </figcaption>
                </figure>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
