---
layout: default
---
<section class="served">
    <ul>
    {% for post in site.categories[page.category] %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="index_image"><img src="{{ post.image | prepend: site.baseurl }}">
                    <div class="index_title">
                        <span class="title">{{ post.title }}</span> <span class="price">{{ post.price }}</span>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
    {% for post in site.tags[page.tag] %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="index_image"><img src="{{ post.image | prepend: site.baseurl }}">
                    <div class="index_title">
                        <span class="title">{{ post.title }}</span> <span class="price">{{ post.price }}</span>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
</section>