---
layout: default
---
<section class="tags back">
    <ul>
        <li><a href="/">All</a></li>
    {% for category in site.categories %}
        <li>
        <a href="/{{ category | first | slugize }}/">
            {{ category | first }}
        </a>
    {% endfor %}
    {% for tag in site.tags %}
        <a href="/{{ tag | first | slugize }}/">
            {{ tag | first }}
        </a>
    {% endfor %}
        </li>
    </ul>
</section>

<section class="served">
    <ul>
    {% for post in site.categories[page.category] %}
        <li>
            <a href="{{ post.url }}">
                <div class="index_image inline"><img src="{{ post.image }}">
                    <div class="index_title">{{ post.title }}<br>{{ post.price }}
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
    {% for post in site.tags[page.tag] %}
        <li>
            <a href="{{ post.url }}">
                <div class="index_image inline"><img src="{{ post.image }}">
                    <div class="index_title">{{ post.title }}<br>{{ post.price }}
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
</section>